<!-- Post -->
<div class="post">
  <div class="user-block">
    <span class="username">
      <a href="javascript:void(0)"></a>
      <a href="javascript:void(0)" class="float-right btn-tool"><i class="fas fa-times"></i></a>
    </span>
    <span class="description"></span>
  </div>
  <!-- /.user-block -->
  <p>
   &nbsp;
  </p>
    <div>
    <ul class="hortimeline">
      <li class="li complete">
        <div class="timestamp">
          <!--<span class="author">Abhi Sharma</span>-->
          <span class="date">22/Mar/2020</span>
        </div>
        <div class="status">
          <h4> New </h4>
        </div>
      </li>
      <li class="li complete">
        <div class="timestamp">
          <!--<span class="author">PAM Admin</span>-->
          <span class="date">03/Apr/2020</span>
        </div>
        <div class="status">
          <h4> Schedule a Call </h4>
        </div>
      </li>
      <li class="li complete">
        <div class="timestamp">
          <!--<span class="author">Aaron Rodgers</span>-->
          <span class="date">05/Apr/2020</span>
        </div>
        <div class="status">
          <h4> On Hold </h4>
        </div>
      </li>
      <li class="li complete">
        <div class="timestamp">
          <!--<span class="author">PAM Admin</span>-->
          <span class="date">08/Apr/2020</span>
        </div>
        <div class="status">
          <h4> Checklist Pending </h4>
        </div>
      </li>
      <li class="li complete">
        <div class="timestamp">
          <!--<span class="author">PAM Admin</span>-->
          <span class="date">13/Apr/2020</span>
        </div>
        <div class="status">
          <h4>Sent for Approval</h4>
        </div>
      </li>
      <li class="li">
        <div class="timestamp">
          <!--<span class="author">PAM Admin</span>-->
          <span class="date">NA</span>
        </div>
        <div class="status">
          <h4>Ready for Closure</h4>
        </div>
      </li>
    </ul> 
  </div>

  
</div>
<!-- /.post -->