    <!-- The timeline -->
    <div class="timeline timeline-inverse">
      <!-- timeline time label -->
      <div class="time-label">
        <span class="bg-success">
          24 Apr. 2020
        </span>
      </div>
      <!-- /.timeline-label -->
      <!-- timeline item -->
      <div>
        <i class="fa fa-check bg-success"></i>

        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock"></i> 4 days ago</span>

          <h3 class="timeline-header"><a href="#">Shelatkar, Vikrant</a> reviewed and approved the dormant  account for closure. </h3>

          <div class="timeline-body">
            Reviewer has reviewed and approved the dormance account and made ready for closure. <br>
            <b>Comments:</b> Make sure you work on this customer alone. This is a VIP customer. Get in touch with customer for other dormant accounts.
          </div>
          <div class="timeline-footer">
            <b>Case Status :</b> &nbsp;
            <b class="text-info">Ready for Closure</b><br>
            <b class="">Operator Status :</b> &nbsp;
            <b class="text-danger">Done</b>
          </div>
        </div>
      </div>
      <!-- END timeline item -->
      
      <!-- timeline time label -->
      <div class="time-label">
        <span class="bg-lightblue">
          13 Apr. 2020
        </span>
      </div>
      <!-- /.timeline-label -->
      <!-- timeline item -->
      <div>
        <i class="fa fa-list-ul bg-primary"></i>

        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock"></i> 15 days ago</span>

          <h3 class="timeline-header"><a href="#">Patange, Amit</a> verified and passed all the checklist parameters and sent for reviewers approval.</h3>

          <div class="timeline-body">
            Operator has verified all the checklist paramters like balance should be $0 or greater than $0 and 
            verified KYC is done the customers account.
          </div>
          <div class="timeline-footer">
            <b>Case Status :</b> &nbsp;
            <b class="text-info">Sent for Approval</b><br>
            <b class="">Operator Status :</b> &nbsp;
            <b class="text-danger">In Progress</b>
          </div>
        </div>
      </div>
      <!-- END timeline item -->

      <!-- timeline item -->
      <div>
        <i class="fa fa-user bg-info"></i>

        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock"></i> 19 days ago</span>

          <h3 class="timeline-header border-0"><a href="#">Patange, Amit</a> started working on this.
          </h3>
          <div class="timeline-footer">
            <b>Case Status :</b> &nbsp;
            <b class="text-info">Checklist Pending</b><br>
            <b class="">Operator Status :</b> &nbsp;
            <b class="text-danger">In Progress</b>
          </div>
        </div>
      </div>
      <!-- END timeline item -->
      
      <!-- timeline time label -->
      <div class="time-label">
        <span class="bg-lightblue">
          08 Apr. 2020
        </span>
      </div>
      <!-- /.timeline-label -->
      <!-- timeline item -->
      <div>
        <i class="fa fa-phone bg-primary"></i>

        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock"></i> 20 days ago</span>

          <h3 class="timeline-header"><a href="#">Kadam, Komal</a> made an call to customer.</h3>

          <div class="timeline-body">
            In the brief discussion with Customer Apte, Ankush, Customer agreed all the terms and 
            condition and given his consent on account closure activity. 
          </div>
          <div class="timeline-footer">
            <b>Case Status :</b> &nbsp;
            <b class="text-info">Checklist Pending</b><br>
            <b class="">Operator Status :</b> &nbsp;
            <b class="text-danger">Done</b>
          </div>
        </div>
      </div>
      <!-- END timeline item -->
      <!-- timeline item -->
      <div>
        <i class="fa fa-user bg-info"></i>

        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock"></i> 26 days ago</span>

          <h3 class="timeline-header border-0"><a href="#">Kadam, Komal</a> started working on this.
          </h3>
          <div class="timeline-footer">
            <b>Case Status :</b> &nbsp;
            <b class="text-info">Schedule a call</b><br>
            <b class="">Operator Status :</b> &nbsp;
            <b class="text-danger">In Progress</b>
          </div>
        </div>
      </div>
      <!-- END timeline item -->
      
      <!-- timeline time label -->
      <div class="time-label">
        <span class="bg-lightblue">
          03 Apr. 2020
        </span>
      </div>
      <!-- /.timeline-label -->
      <!-- timeline item -->
      <div>
        <i class="fa fa-phone bg-primary"></i>

        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock"></i> 25 days ago</span>

          <h3 class="timeline-header"><a href="#">Patange, Amit</a> made an call to customer.</h3>

          <div class="timeline-body">
            In the brief discussion with Customer Apte, Ankush, Customer said that he wants to think on this account and suggested to call him back after 5 days. 
          </div>
          <div class="timeline-footer">
            <b>Case Status :</b> &nbsp;
            <b class="text-info">Schedule a call</b><br>
            <b class="">Operator Status :</b> &nbsp;
            <b class="text-danger">Done</b>
          </div>
        </div>
      </div>
      <!-- END timeline item -->
      <!-- timeline time label -->
      <div class="time-label">
        <span class="bg-lightblue">
          02 Apr. 2020
        </span>
      </div>
      <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
              <i class="fa fa-user bg-info"></i>
      
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock"></i> 26 days ago</span>
      
                <h3 class="timeline-header border-0"><a href="#">Patange, Amit</a> started working on this.
                </h3>
                <div class="timeline-footer">
                  <b>Case Status :</b> &nbsp;
                  <b class="text-info">New</b><br>
                  <b class="">Operator Status :</b> &nbsp;
                  <b class="text-danger">In Progress</b>
                </div>
              </div>
            </div>
            <!-- END timeline item -->

      <!-- timeline time label -->
      <div class="time-label">
        <span class="bg-lightblue">
          22 Mar. 2020
        </span>
      </div>
      <!-- /.timeline-label -->

      <div>
        <i class="fa fa-clock bg-gray"></i>
        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock"></i> 37 days ago</span>
          <h3 class="timeline-header border-0">Dormant Account "264872573" uploaded in to the system on 22 Mar. 2020</h3>
        </div>
      </div>
    </div>
  <!-- /.tab-pane -->