<div class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
<!-- Operator Dashboard header managers from appheader component. -->
<app-opheader></app-opheader>

<!--Import Operator Legend Panel here #legendpanel Starts here-->
<app-oplegend></app-oplegend>
  
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Account</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/ODashboard">Home</a></li>
                  <li class="breadcrumb-item active">Account Details</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
    
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                  <div class="card-body box-profile">
                    <div class="text-center">
                      <img class="profile-user-img img-fluid img-circle"
                           src="assets/img/lte/avatar6.png"
                           alt="User profile picture">
                    </div>
    
                    <h3 class="profile-username text-center">Apte, Ankush</h3>
                    <p class="text-muted text-center">California, LA</p>
    
                    <ul class="list-group list-group-unbordered mb-3">
                      <li class="list-group-item">
                        <b>Account</b> <a class="float-right">264872573</a>
                      </li>
                      <li class="list-group-item">
                        <b>Last Transaction</b> <a class="float-right">2020-04-14 20:25</a>
                      </li>
                      <li class="list-group-item">
                        <b>Phone</b> <a class="float-right">+1 (804) 123-5432</a>
                      </li>
                      <li class="list-group-item">
                        <b>Alt Phone</b> <a class="float-right">+1 (673) 578-5748</a>
                      </li>
                      <li class="list-group-item">
                        <b>Email</b> <a class="float-right">apteankush@gmail.com</a>
                      </li>
                    </ul>
    
                    <a href="/Profile" class="btn btn-primary btn-block"><b>See All Accounts</b></a>
                    <a href="/Profile" class="btn btn-success btn-block"><b>Assign to me</b></a>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
  
              </div>
              <!-- /.col -->
              <div class="col-md-9">
                <div class="card">
                  <div class="card-header p-2">
                    <ul class="nav nav-pills">
                      <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Case Activity</a></li>
                      <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Case History</a></li>
                      <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Operator Inputs</a></li>
                    </ul>
                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="active tab-pane" id="activity">
                        <app-opaccountactivity></app-opaccountactivity>
                      </div>
                      <!-- /.tab-pane Timeline Tab setting -->
                    <div class="tab-pane" id="timeline"> 
                        <app-optimeline></app-optimeline>
                    </div>
                      <div class="tab-pane" id="settings">
                        <app-opaccountform></app-opaccountform>
                      </div>
                      <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                  </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <app-opfooter></app-opfooter>
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
</div>